*{
    margin: 0px;
    padding: 0px;

}
/* navigation style */
/* nav{
    margin: 0;
    display: flex;
    /* justify-content: ; */
} */
/* font sens */
*{
    font-family: 'Open Sans', sans-serif;
}
header{
    padding:20px 180px;
    margin: 0px;
    background-color: antiquewhite;
    display: flex;
    background-image: url(images/banner/banner1.png);
    height: 600px;
    background-size: cover;
}
/* set header-text position */
.main-text{
    justify-content: center right;
    text-align: right;
   position:relative;
   padding: 180px 30px 100px 600px;
   
}
header h1{
    font-size: 50px;
    font: bold;
}
header button{
    padding: 15px 25px;
    background-color: orangered;
    color: beige;
    border: none;
}

/* body style */
.body{
    display: flex;
    position: center; 
    /* padding-left: 10%; */
   

}
.body-text{
    padding: 15px;
    font-weight: 450px;
    margin-top: 20%;
    margin-right: 5%;
    margin-left: 15%;

}

/* my plans style */
.myplans{
    padding-left: 43%;
    margin-top: 100px;
}
.plans{
    display: flex;
    justify-content: space-between;
    padding: 100px;
    
}

/* watch image style */
.watch{
    /* size: 200px; */
    background-image:url(images/watch.png);
    background-repeat: no-repeat;
    background-position: center;
    position: center;
    padding: 70px 100px;
    background-image:-o-linear-gradient (to left,rgb(138, 58, 58) ,rgb(129, 129, 192));
}

/* main-footer style */
footer{
    padding: 100px 180px;
    height: 200px;
    background-color: black;
    color: aliceblue;
    /* display: flex; */

}
.footer{

    justify-content: space-between;
    
}