*{
    margin: 0px;
    padding: 0px;
    

}

/* font sens */
*{
    font-family: 'Open Sans', sans-serif;
}
header{
    padding:20px 180px;
    margin: 0px;
    background-color: antiquewhite;
    display: flex;
    background-image: url(images/banner/banner1.png);
    height: 600px;
    background-size: cover;
}
/* set header-text position */
.main-text{
    justify-content: center right;
    text-align: right;
   position:relative;
   padding: 180px 30px 100px 600px;
   
}
header h1{
    font-size: 50px;
    font: bold;
}
button{
    padding: 15px 25px;
    background-color: orangered;
    color: beige;
    border: none;
}

/* body style */
.body{
    display: flex;
    position: center; 
   
   

}
span{
    color: rgb(17, 74, 17);
}
.body-text{
    padding: 15px;
    font-weight: 450px;
    margin-top: 20%;
    margin-right: 5%;
    margin-left: 15%;

}

/* my plans style */
.myplans{
    padding-left: 43%;
    margin-top: 100px;
}
.plans{
    display: flex;
    justify-content: space-between;
    padding: 100px;
    
}
/* My hobby style */
.my-hobby{
    padding-left: 43%;
    margin-top: 100px; 
    
}
.hobby{
    display: flex;
    justify-content: space-between;
    padding: 100px;
    
}
/* watch image style */
.watch{
    color: beige;
    background-image:to left,linear-gradient(black, blue,gold),url(images/watch.jpg);
    /* background-image: to left,linear-gradient(black, blue,gold); */
    background-repeat: no-repeat;
    background-position: center;
    position: center;
    padding: 100px 180px;
    margin-bottom: 50px;
    
    
}

/* main-footer style */
footer{
 
    height: 500px;
    background-color: black;
    color: aliceblue;
    
    justify-content: space-between;
   
   

}
.footer-style{
    margin-top: 5%;
    display: flex;
    
}
.future{

    padding:100px;
    padding-right: 15%;
}
.subscribe{
    padding-right:20% ;
    padding-top: 10%;
    
}
input{
    padding: 5px 10px;
}